<div class="alert-card" [ngClass]="data.tipo || 'info'">
  
  <div class="alert-icon">
    <i [class]="'bi ' + getIcon()"></i>
  </div>
  
  <div class="alert-content">
    <div class="alert-title" *ngIf="data.titolo">
      {{ data.titolo }}
    </div>
    <div class="alert-message" *ngIf="data.messaggio">
      {{ data.messaggio }}
    </div>
  </div>

  <button 
    *ngIf="data.azione" 
    class="alert-action" 
    [ngClass]="data.tipo || 'info'"
    (click)="handleAction()">
    {{ data.azione }}
  </button>
  
</div>